<h1>Dragon ball Z</h1>
<hr>

<div class="row">
  <div class="col">
    <app-characters [characters]="characters">

    </app-characters>
  </div>

  <div class="col">
    <h3>Add <small>{{newCharacter.name}}</small></h3>
    <hr>
    <form (ngSubmit)="add()">
      <input
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="newCharacter.name"
      >
<!--       [value]="newCharacter.name"
      (input)="changeName($event)" -->
      <input
        [value]="newCharacter.power"
        type="number"
        placeholder="Power"
        name="power"
        [(ngModel)]="newCharacter.power"
      >
      <button type="submit">Add</button>
    </form>
  </div>
</div>
